{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <h1>Genre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Img</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>id</th>
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.title }}</td>
                <td>{{ genre.description }}</td>
                <td>{{ genre.img }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ genre.id }}</td>
                <td>
                    <a href="{{ path('genre_show', {'id': genre.id}) }}">show</a>
                    <a href="{{ path('genre_edit', {'id': genre.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('genre_new') }}">Create new</a>
{% endif %}
{% endblock %}
