{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>MeanRate</th>
                <th>GameType</th>

                {% if is_granted('ROLE_ADMIN') %}
                <th>CreateDate</th>
                <th>Id</th>
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                
                <td>{{ game.title }}</td>
                <td>{{ game.description }}</td>
                <td><img src="{{ game.img }}" alt="gameimage"></td>
                <td>{{ game.meanRate }}</td>
                <td>{{ game.gameType }}</td>

                {% if is_granted('ROLE_ADMIN') %}
                <td>{{ game.createDate ? game.createDate|date('Y-m-d') : '' }}</td>
                <td>{{ game.id }}</td>
                <td>
                    <a href="{{ path('game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
                </td>                
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('game_new') }}">Create new</a>            
{% endif %}
{% endblock %}
