{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ game.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ game.img }}</td>
            </tr>
            <tr>
                <th>CreateDate</th>
                <td>{{ game.createDate ? game.createDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>MeanRate</th>
                <td>{{ game.meanRate }}</td>
            </tr>
            <tr>
                <th>GameType</th>
                <td>{{ game.gameType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_index') }}">back to list</a>

    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
