<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
           <!-- CSS only -->
        <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>

    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ZETA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home
          </a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/game">Game</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/genre">Genre</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/register">signup</a>
        </li>
            {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
            <a href="" class="nav-link">Hello {{ app.user.pseudonyme }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
            {% endif %}
      </ul>
    </div>
  </div>
</nav>
        {% block body %}{% endblock %}
    </body>
</html>
